// color variables

$dark-blue: #4b747a;
$light-blue: #5da4ae;
$white: #f5f3ee;
$light-brown: #eecbb1;
$red: #d96358;
$grey: #6E7E85;

// style variables 
$shadow: 3px 3px 5px 3px $grey;


body{
  background-color: $white;
  width: 100vw;
  height: 100vh;
}


/* removing default browser styling  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// wraper styles

.wraper{
  width: 97vw;
  height: 90vh;
  margin: .8em auto;
  box-shadow: $shadow;
}